
<h1>Holy guacamole! Best check yo self, ya ain' looking too good.</h1>
<p>Screw diamonds. Ruby is a girl's best friend.</p>




  <img src = "/assets/shit.jpg" alt = "shit" class = "img-responsive" data-slide-to="0" class ="active">

