<div class="jumbotron">
	<h1>Bornholmer Suckers</h1>
	<% if user_signed_in? %>
          Congrats - You are now a Bornholmer Sucker!
     <% else %>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
			and
			<%= link_to "sign out", new_user_registration_path, class: 'btn btn-primary' %>
	  	</p>
	  <% end %> 
	
</div>

